
.Auto{
	color: black !important;
}
.AutoP{
	font-size: 12px;
	color: rgb(66, 63, 63) !important;
}
.banner_vector2{
	width: 50%;
    height: 75vh;
}



.v_dark .box_wrap h4{
	
	color: black !important;
	font-size: 17px !important;
}
.v_dark .box_wrap p
  {
	color: black !important;
	font-size: 13px !important;
}
.v_dark .box_wrap {
	background-color:white !important;
}
#boxAllign{
	margin-top: 90px !important;
}
#H2,#H3{
color: black !important;
font-size: 30px !important;
}
#H3{
	margin-top: 5px !important;
}
#P1{
	font-size: 13px;
	margin-top: 20px;
	color: rgb(56, 54, 54);
}
#P2 {
    font-size: 13px;
    margin-top: 14px;
    color: rgb(56, 54, 54);
}
#P4{
	font-size: 13px;
	margin-top: 5px;
	color: rgb(56, 54, 54);
}
#boxAllign1{
	margin-top: 200px !important;
}
#about{
	color: red;s
}
#about1{
	color: black;

}
#about2{
	color: black;
	font-size: 15px;

}
.Affi{
	color:black;
}
.Affi1{
	color: rgb(44, 42, 42);
	font-size: 14px;
}
.Affi2{
	height: 55vh;
}

section.small_pt {
    padding-top: 0px;
}
#bgc{
	background-color: rgb(231, 229, 229) !important;
	height: 80px;
}
.form-control::-webkit-input-placeholder {
	color: black !important;
}
#form1{
	background-color: rgb(231, 229, 229);
	padding: 20px;
}
.btn-info, .v_light_dark .btn-info {
	background-color: red !important;
}
#line{
	padding-left: 15px;
	color: black;
}