p {
    font-size: 10px;
    line-height: 1.6;
    font-weight: 300;
}
.why_images {
    width: 16%;
    height: 16%;
        white-space: nowrap;
}
.why_image_text {
}

.why_image_text_div {
    text-align: left !important;
}


button,
.btn {
    background-color: #ff0004;

}

.navbar {
    padding-left: 12% !important;
    padding-right: 12% !important;
    padding-top: 1% !important;
}

.section_banner {
    padding-top: 14%;
}

.section_banner h1 {
    font-weight: 250;
    line-height: 0.8;
    font-size: 3rem;
}

.section_banner h2 {
    font-weight: 550;
    font-size: 2.8rem;
    margin-bottom: 15px;
}



.service-div {
    padding-left: 15%;
    padding-right: 7%;
    margin-bottom: -80px;
}

.about-div {
    padding-left: 15%;
    padding-right: 7%;
    margin-bottom: 50px;
}

.about-div h2 {
    font-weight: 250;
}

.title_default_light {
    padding-left: 0 !important;
}

.aff-div {
    margin-top: 50px;
}

.questions-div {
    padding-top: 50px;
}



.title_default_light {
    padding-left: 15%;
    padding-right: 15%;
}

.contact_box_s2 {
    width: 103%;
    font-size: 0.7rem;
}

#contact {
    padding-left: 14%;
    padding-right: 7%;
}

.form-control-wid {
    width: 100%;
}

.contact-div {
    width: 100%;
}

.h-margin {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 20%;
    line-height: 1.3;
}
.footer-desc{
    margin-top: 50px;
    margin-bottom: 10px;
    line-height: 1.3;
    margin-left: 0 !important;
}

.p-margin {
    margin-left: 20%;
    margin-bottom: 0;
}
.input-group-append{
  margin-left: auto;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;

}
.contct_follow {
    white-space: nowrap;
    margin: auto 10% 2% auto;
    padding-right: 5%;
}

.contct_follow span {
    font-size: 26px;
    font-weight: 600;
}

.form-div {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.contct_follow i {
    background-color: #ffe3e3 !important;
}

#line {
    font-size: 14px;
    font-weight: 350;
    margin: 1%;
}

#P4 {
    font-size: 12px;
    font-weight: 350;
}

hr {
    width: 95%;
    border: 1px solid;
}

.footer-div {
    padding-bottom: 30px;
}

.subscribe_form {
    padding: 0;
    width: 100%;
    margin-right: 30%;
}

.newsletter_form {
    padding-right: 50%;
}

.shadow-box {
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.43);
}











header {
    margin-top: 0;
    transition: all 0.4s ease 0s;
}


.hb_box_shadow {
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.modal-open header.fixed-top {}

.navbar-collapse {}

.navbar-nav {}


/* .nav-fixed,
header.active,
.spop {
	background-color: #212128;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
} */
header.nav-fixed {
    height: 100%;
    padding: 0px 0;
}

.nav-fixed .navbar-brand img {
    max-width: 180px;
    height: 100px;
}

header .navbar-nav a {
    color: #1d1e27;
}

.navbar-expand-lg .navbar-nav > li {
    padding: 0 12px;
}

.navbar-expand-lg .navbar-nav > li:last-child {
    padding-right: 0;
}

header a:hover,
.navbar-nav li a.active,
.navbar-nav .dropdown-menu li.active a {
    color: #ff69c9;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 0;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link.nav_icon {
    background-color: rgba(255, 255, 255, 0.2);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    line-height: 32px;
    padding: 0;
    text-align: center;
    margin: 15px 0;
}

.navbar-expand-lg .navbar-nav > li > .nav-link.active:before {
    background-color: #ff69c9;
    bottom: 10px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.navbar-expand-lg .nav_btn > li {
    margin-left: 15px;
    padding: 0;
}

.navbar-expand-lg .nav_btn > li:first-child {
    margin: 0;
}

.navbar-expand-lg .navbar-nav.nav_btn a {
    border: 0;
    height: auto;
    line-height: normal;
}

.navbar-expand-lg .navbar-nav.nav_btn a.btn {
    padding: 10px 25px;
}

.dropdown-toggle::after,
.dropdown-toggler::after {
    border: 0 none;

    font-family: ionicons;
    height: auto;
    line-height: normal;
    margin-left: 5px;
    vertical-align: middle;
    width: auto;
}

.navbar-nav .dropdown-menu {
    background-color: #4241b8;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #ff69c9;
    padding: 10px;
}

.navbar-expand-lg .navbar-nav li {
    position: relative;
}

.navbar-expand-lg .navbar-nav .dropdown-item {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 10px;
    text-transform: capitalize;
}

.navbar-expand-lg .navbar-nav .dropdown-item:hover {
    color: #ff69c9;
}

.navbar-expand-lg .navbar-nav .dropdown-item.active,
.navbar-expand-lg .navbar-nav .dropdown.show > a {
    background-color: transparent;
    color: #ff69c9;
}

.navbar-brand {
    position: absolute;
}


.nav-fixed-background {
    background-color: white !important;
}




@media only screen and (max-width: 1250px) {
    .fixed-top div {
        margin-right: 16% !important;
        margin-left: -5% !important;
        width: 130% !important;
    }

    .navbar-nav {
        padding-left: 15% !important;
        margin-left: 3% !important;
        margin-right: 8% !important;
        max-width: 40% !important;
        height: 30% !important;
        white-space: nowrap !important;



    }
    .contct_follow{
        margin-right: 500px !important;
    }
    .navbar-brand {
        left: 8%;
    }


    .navbar-collapse {}


    .nav-fixed-background {
        height: 10%;

    }

    .nav_btn {
        margin-right: 10px;
        padding-right: 10px;
    }

    .nav_btn li {
        padding: 0 5px !important;
        margin-right: auto;
    }
}


@media only screen and (max-width: 991px) {
    .contact_detail p ul {
      
    }
    .fixed-top div {
        margin-right: 16% !important;
        margin-left: -5% !important;
         width: 100% !important;
    }

    .nav-fixed-background {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .navbar-brand {
        position: relative !important;
        bottom: 75px !important;
        right: 30px !important;

    }

    .navbar-toggler {
        position: absolute !important;
        right: 50px !important;
        top: 25px !important;
        color: #ff0004 !important;
    }

    .navbar-collapse {
        background-color: #fff;
        max-width: 70% !important;
        position: relative !important;
        bottom: 155px !important;
        left: 40% !important;
        border-radius: 7px !important;
        margin-right: 10% !important;
        box-shadow: -6px 7px 16px -2px rgba(0, 0, 0, 0.63);

    }

    .navbar-collapse ul li {
        text-align: left !important;

    }

    .navbar-collapse ul {
        padding-left: 0 !important;
    }

    .nav_btn li {
        margin-right: 0 !important;
        padding-right: 0 !important;
        margin: 0 !important;
        position: relative !important;
        padding-left: 250% !important;
        bottom: 355px !important;
    }

    .nav_btn li a {
        width: 100px;
        margin-top: 15px;
        margin-right: 0;
        margin-left: 50px;
    }
}

@media only screen and (max-width: 557px) {

    .nav-fixed-background {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .navbar-brand {
        position: relative !important;
        bottom: 90px !important;
        right: 10px !important;

    }

    .navbar-toggler {
        position: absolute !important;
        right: 45px !important;
        top: 10px !important;
        color: #ff0004 !important;
    }

    .navbar-collapse {
        background-color: #fff;
        max-width: 140% !important;
        position: relative !important;
        bottom: 170px !important;
        left: 10% !important;
        border-radius: 7px !important;
        margin-right: 10% !important;
        box-shadow: -6px 7px 16px -2px rgba(0, 0, 0, 0.63);

    }

    .navbar-collapse ul li {
        text-align: left !important;

    }

    .navbar-collapse ul {
        padding-left: 0 !important;

    }

    .nav_btn li {
        margin-right: 10% !important;
        padding-right: 10% !important;
        margin: 0 !important;
        position: relative !important;
        right: 3% !important;


    }

    .nav_btn li a {
        width: 90px !important;
        font-size: 0.8em !important;
        margin-top: 15px;
        margin-right: 10% !important;
        margin-left: 50px;

    }
}

@media only screen and (max-width: 380px) {

    .nav-fixed-background {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .navbar-brand {
        position: relative !important;
        bottom: 85px;
        right: 50px;

    }

    .navbar-toggler {
        position: absolute !important;
        right: 5px !important;
        top: 10px !important;
        color: #ff0004 !important;
    }

    .navbar-collapse {
        background-color: #fff;
        max-width: 140% !important;
        position: relative !important;
        bottom: 170px !important;
        left: 10% !important;
        border-radius: 7px !important;
        margin-right: 10% !important;
        width: 100% !important;


    }

    .navbar {
        width: 100% !important;
    }

    .navbar-collapse ul li {
        text-align: left !important;

    }

    .navbar-collapse ul {
        padding-left: 0 !important;

    }

    .nav_btn li {
        margin-right: 10% !important;
        padding-right: 10% !important;
        margin: 0 !important;
        position: relative !important;
        right: 3% !important;


    }

    .nav_btn li a {
        width: 85px !important;
        font-size: 0.8em !important;
        margin-top: 15px;
        margin-right: 10% !important;
        margin-left: 50px;

    }

    #home_section {
        margin-top: 10%;
    }
}
